.analyse {

  color: #000;


  .el-button{
    height: 33px;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .button-icon{
    height: 34px;
  }

  .navbar {
    height: 38px;
    background: #1b1e2d;
    margin-bottom: 16px;
    padding-left: 10px;

    div {
      line-height: 38px;
    }
  }

  .content-bar{
    height: 80px;
    background: #EFEFEF;

    .content-bar-list{
      list-style: none;
      float:left;
      font-size: 16px;
      width:300px;

      li{
        display: inline-block;
        height: 80px;
        line-height: 80px;
        padding-left: 20px;
        padding-right:20px;
      }
    }

    .content-bar-button{
      height: 80px;
      line-height: 80px;
      width: calc(100% - 310px);
      float: right;
    }
  }
}