.analyse {

  color: #000;

  .el-button{
    height: 33px;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .button-icon{
    height: 34px;
  }

  .navbar {
    height: 38px;
    background: #1b1e2d;
    margin-bottom: 16px;
    padding-left: 10px;

    div {
      line-height: 38px;
    }
  }

  .content-bar{
    height: 80px;
    background: #EFEFEF;
    clear: both;

    .content-bar-list{
      list-style: none;
      float:left;
      font-size: 16px;
      width:300px;

      li{
        display: inline-block;
        height: 80px;
        line-height: 80px;
        padding-left: 20px;
        padding-right:20px;
      }

      .arrow-up{
          background: url("../../../../assets/images/arrow-blue-up.png") no-repeat 65px 27px;
      }

      .arrow-down{
          background: url("../../../../assets/images/arrow-blue-down.png") no-repeat 52px 29px;
      }
    }

    .content-bar-button{
      height: 80px;
      line-height: 80px;
      width: 300px;
      float: left;

        .event-store-box{
          margin-right: 10px;
          height: 34px;
          line-height: 34px;
        }
    }

    .content-bar-page{
      float: right;
      width: calc(100% - 610px);
      height: 80px;

        .edu-pagination button{
          background: #fff;
        }
        
        .edu-pagination button.btn-next{
          background: #fff;
        }

        input.el-pagination__editor{
          background: #ffffff;
          color: #333;
        }
    }
  }
}

ul.event-store-item {
  margin:0;
  padding:0;
  border:none;
  li{
    color: #000;
    text-align: center;
    border-bottom: 1px solid #cccccc;
  }
}
