.analyse {

  .paddingR10{
    padding-right: 10px;
  }

  .alignRight{
    text-align: right;
  }

  .navbar {
    height: 38px;
    background: #1b1e2d;
    margin-bottom: 16px;
    padding-left: 10px;

    div {
      line-height: 38px;
    }
  }

}